.plus_btn {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right:20px;
  width: 38px;
  height: 38px;
  border:1px solid var(--primary);
}

.plus_btn i{
  width: 38px;
  text-align: center;
  line-height: 38px;
  font-size: 29px;
  color:var(--primary);
}

/* cate_box */
.cate_box {
  max-width: var(--width-m);
  margin: 0 auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
/*
  border-bottom:2px solid var(--primary); */
}

.cate_box .cate_item {
  flex: 1;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.cate_box .cate_item:nth-child(2) {
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
}

/* card_list */

.card_list {
  max-width: var(--width-m);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
}

.card_list .card_item {
  width: 48%;
  height: 370px;
  background: #eaeaea;
  position: relative;
  overflow: hidden;
  margin-bottom:45px;
}

.card_list .card_item img {
  position: relative;
  z-index: 2;
  transform: scale(1);
  transition: all 1s;
  transition-delay: .2s;
  transition-duration: .7s;
}

.card_list .card_item:hover img {
  transform:scale(1.1);
}

/* .card_list .card_item:hover .plus_btn  {
  background: var(--primary);
  transition-duration: .5s;
}
.card_list .card_item:hover .plus_btn i{
  color:var(--bg-m);
  transition-duration: .5s;
} */

.card_list .card_item .card_item_overlay {
  position: absolute;
  z-index: 3;
  width: 100%;
  min-height: 140px;
  height: 40%;
  background: transparent;
  border: 1px solid var(--primary);
  background: #fff;
  bottom:0;

  transition: all .2s;
}

.card_list .card_item:hover .card_item_overlay {
  opacity: 1;
}

.card_list .card_item .card_item_overlay  .card_tit {
  font-size: 25px;
  line-height: 2.5;
  position: absolute;
  top:15px;
  left:30px;
  font-weight: 500;
  color: var(--black-m);
}

.card_list .card_item .card_item_overlay  .card_desc {
  font-size: 16px;
  position: absolute;
  top:85px;
  left:30px;
  color:var(--gray-m);
}
